* {
    padding: 0;
    margin: 0;
}
a{
    margin-left: 0px;
     padding: 0px;
}
input{
    margin-left : 1040px;
    position: absolute;
    
    
}
button{
    display: inline-block;
    margin-left: 1210px;
    position: absolute;
    
    

}

#navbar{
    background-color: #136433;
    width: 100%;
    
}

#image{
    text-align: center;

}
#heading{
    background-color: #fbbc14 ;
    height: 81px;
    position:sticky;
}
#first{
    color:#006400 ;
}
#second{
    color:#006400 ;
}
#third{
    color:#006400 ;
}
#fourth{
    color:#006400 ;
}
#fifth{
    color:#006400 ;
}
#sixth{
    color:#006400 ;
}
#seventh{
    color:#006400 ;
}
#eight{
    color:#006400 ;
}
#ninth{
    color:#006400 ;
}

#feedback{
    font-weight: 550;
    background-color: #fbbc14 ;
    font-family: cambria;
}
#sidebar{
    text-decoration: none;
}
<style>
a:link {
  color: #32CD32;
  background-color:#32CD32;
  text-decoration: none;
}



a:hover {
  color: #fbbc14 ;
  background-color: transparent;
  text-decoration: underline;
}
a:text {
    color:#136433;
}

</style>

